.collection-page {
	margin: 0 10vw 0 10vw;
}

.collection-page > .row {
	position: relative;
	height: 3rem;
	margin-top: 10px;
}

.collection-title {
	display: inline-block;
	text-align: left;
	position: absolute;
	left: 0;
}

.table-collection {
	border: 1px solid rgba(0,0,0,0.12);
	border-spacing: 10px !important;
}

.delete-button-container {
	padding-left: 0 !important;
}

.table-delete-button {
	border-color: transparent;
}

.table-delete-button th {
	height: 52px;
}

.table-delete-button tr {
	height: 52px;
	border-color: transparent;
}

.cell-delete-btn-container {
	padding: 5px;
}

.button-new {
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 0;
	margin-top: 10px;
}

.button-new a {
	width: 150px;
}

thead {
	margin: 10px;
	padding: 10px;
}

th, td {
	padding: 15px;
}