#modal-edit-record {
	top: 3% !important;
	max-height: 94%;
}

#modal-edit-record .modal-content .title {
	margin-bottom: 20px;
}

#modal-edit-record .json-form {
	text-align: left;
}

#modal-edit-record .json-form label {
	text-align: left;
	font-weight: bold;
}

#modal-edit-record .json-form p {
	position: relative;
}

#modal-edit-record .json-form legend {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

#modal-edit-record .json-form fieldset {
	padding: 20px;
}

#modal-edit-record .json-form .btn-action-container {
	position: relative;
	text-align: right;
}

#modal-edit-record .json-form .btn-approve {
	margin-top: 10px;
	margin-left: 10px;
	width: 100px;
}

#modal-edit-record .json-form .btn-reject {
	margin-top: 10px;
	margin-left: 10px;
	width: 100px;
}

#modal-edit-record .json-form .btn-submit {
	position: absolute;
	right: 3px;
	width: 150px;
}

#modal-post-action-message {
	top: 35% !important;
}

#modal-post-action-message .btn-close {
	margin-top: 20px;
	width: 150px;
}