.sidenav {
	text-align: left;
}

.sidenav-trigger {
	cursor: pointer;
}

a.subheader {
	border-bottom: solid 1px #e0e0e0;
}

div.active {
	background: #EE6E73;
}

div.active > li > a, div.active > li > a > i {
	color: white !important;
}

.sublink {
	padding-left: 20px;
}

#slide-out {
	margin-top: 65px;
}

@media screen and (max-width: 600px) {
	#slide-out {
		margin-top: 55px;
	}
}

@media screen and (min-width: 993px) {
	.sidenav-trigger {
		display: unset !important;
	}	
}
